* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import 'Variables';

html, body {
    width: 100%;
    height: 100vh;
    background-color: $color-nav-link;
}

@mixin styleInput(){
    border: none;
    border-radius: 15px; 
    padding: 8px 12px;
    &:focus {
        outline: 1px solid $bg-btn-hover;
    }
}

@mixin styleNav(){
    background-color: $bg-nav;
    width: 100%;
    padding: $p-0;

    ul {
        list-style: none;
        text-align: center;
    }
    li {
        padding: $p-1;
    }
    a {
        text-decoration: none;
        color: $color-nav-link;  
    }
}

@mixin d-flex($eixo-x: flex-start, $eixo-y: flex-start, $direction: row){
    display: flex;
    justify-content: $eixo-x;
    align-items: $eixo-y;
    flex-direction: $direction;
}

@import 'Header';
@import 'Main';

footer {
    @include styleNav();
    p {
        color: $color-nav-link;
        padding: 16px;
        text-align: center;
    }
}

@media (min-width: 583px){
    
    .navegation { 
        @include d-flex($eixo-x: space-between);   

        ul {
            display: flex;
        }
    }  

    .logo-container {
        a {
            &:nth-child(2){
                display: none;
            }
        }
        
    }

    .box {
        form {
            width: 80%;
        }
    }    

    /*MAIN*/
    .row {
        width: 80%;
        margin: auto;
        display: flex;
    }
    .col-one {
        @include d-flex($eixo-x: center,$eixo-y: center);

        img {
            width: 38px;
            height: 68px;
        }
    }
    .col-two {
        h2 {
            text-align: start;
        }
    }
    .cards {
        @include d-flex($eixo-x: space-evenly);
    }

    footer {
        ul {
            @include d-flex($eixo-x: end);
        }
    }
}
